---
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<main>
			<article class="min-h-screen">
				<section class="mx-auto max-w-lg px-4">
					
				</section>
			</article>
		</main>
	</body>
</html>
